@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-milky-blend), sans-serif;
}

.font-milky-blend {
  font-family: var(--font-milky-blend), sans-serif;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.8s ease-out;
}
